In [9]:
n = int(input("Enter a number: "))
for i in range(1,11):
    print(f"{n} x {i} = {n*i}")

Enter a number:  5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [21]:
l = ["Harry", "Soham", "Sachin", "Rahul"]
for i in l:
    if(i.startswith("S")):
        print(i)

Soham
Sachin

In [37]:
 n = int(input("Enter a number: "))
sum = 1
for i in range(1,(n+1)):
    sum = (sum*i)
    print(sum)

Enter a number:  5

1
2
6
24
120

In [41]:
print("  *")
print(" ***")
print("*****")

  *
 ***
*****